// colors
$primary-color: #ff9f24;
$secondary-color: #646464;
$dark-color: #323232;
$light-gray-color: #969696;

// font weights
$fw-light: 400;
$fw-medium: 500;
$fw-bold: 700;

// font sizes
$fs-small: 14px;
$fs-medium: 16px;
$fs-large: 18px;
$fs-xlarge: 24px;
$fs-nav-title: 18px;
