@import "@/styles/variables.scss";

.Products {
  display: flex;
  flex-direction: column;
  padding: 24px;
  row-gap: 18px;

  .titleWrapper {
    h1 {
      color: $dark-color;
      font-size: $fs-xlarge;
      line-height: 31.25px;
      margin: 0;
    }

    h2 {
      color: $secondary-color;
      font-weight: $fw-light;
      font-size: $fs-small;
      line-height: 20.83px;
      margin: 0;
    }
  }

  .inputStyle {
    width: 100%;
  }
}
