.ButtonGroup {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 12px;

  ul {
    padding: 0;
    margin: 0;

    button {
      height: 48px;
      padding: 12px;
      min-width: 48px;
    }
  }
}
